[#ftl encoding="UTF-8" ]

[@subject]TEST[/@]

<html>
	<head>
		<style type="text/css">
			body{background-color: black;}
			div.message{margin: 10%; background-color: }			
		</style>
	</head>
	<body>
		<div class="message">
			<p>Test</p>
		</div>
	</body>
</html>